// default and large screen

@media all and (min-width: 700px) {
    .album {

	position: absolute;
	top: 50%;

	h1 {
		color: $bluepac;

	}
}
}


// Mobile site

@media screen and (max-width: 700px) {
    .album {
display: none;
	
}
}
